.main-container {
 max-width: 80%;
 width: fit-content;
}

body {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

ul > li {
    padding: 2px;
    margin: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-container > div {
    padding: 8px;
    margin: 5px;
    border: 4mm ridge rgba(211, 220, 50, .6);
    display: flex;
    flex-direction: column;
    align-items: start;
}

h2, div > button, div > input, ul, .mode_input {
 align-self: center;
}

h2 {
    margin: 1px;
}

li {
    color: white;
    background: blue;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;

}

li > button {
    background: blue;
    font-size: 10px;
    color: white;
}

li > button:hover {
    background: white;

}
div > button {
    margin-top: 2px;
}

#myInput {
    width: 25px;
}