<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8">
   <title>Settings Page</title>
  </head>
  <body>
    <h1>Hello, Admin!</h1>
    <div>
        <p>These are currents settings of firewall</p>
    </div>
    <div>
        <p>Mode of firewall: {{mode}}</p>
    </div>
    <div>
        Source addresses:
        <ul>
            {% for element in src_adds %}
                <li>{{ element }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        Destination addresses:
        <ul>
            {% for element in dst_adds %}
                <li>{{ element }}</li>
            {% endfor %}
        </ul>
    </div>
  </body>
</html>