<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FW Settings</title>
</head>

<body>
    <div id="firewall_mode">
        <h2>Current mode is {{ mode }}</h2>
        <p>Change mode to
            <input type="text" id="myInput" value="{{ mode }}">
        </p>

    </div>

    <div id="list_of_src_adds">
        <h2>Source addresses:</h2>
        <ul id="list1" class="list1">
            {% for element in src_adds %}
            <li><span>{{ element }}</span> <button onclick="deleteItem('list1', this)">Delete</button></li>
            {% endfor %}
        </ul>
        <input type="text" id="newItem1" placeholder="Add new item">
        <button onclick="addItem('list1', 'newItem1')">Add Item</button>
    </div>
    <div id="list_of_dst_adds">
        <h2>Destination addresses:</h2>
        <ul id="list2" class="list2">
            {% for element in dst_adds %}
            <li><span>{{ element }}</span> <button onclick="deleteItem('list2', this)">Delete</button></li>
            {% endfor %}
        </ul>
        <input type="text" id="newItem2" placeholder="Add new item">
        <button onclick="addItem('list2', 'newItem2')">Add Item</button>

    </div>
    <div>
        <button onclick="sendUpdate()">Update settings</button>
    </div>

    <script>
        function addItem(listId, inputId) {
            const list = document.getElementById(listId);
            const newItem = document.getElementById(inputId).value;
            const li = document.createElement("li");
            const span = document.createElement("span")
            span.textContent = newItem;
            li.appendChild(span)
            li.innerHTML += ' <button onclick="deleteItem(\'' + listId + '\', this)">Delete</button>';
            list.appendChild(li);
            document.getElementById(inputId).value = '';
        }

        function deleteItem(listId, element) {
            element.parentNode.remove();
        }

        function sendUpdate() {
            const list1 = document.querySelectorAll('.list1 li span');
            const list2 = document.querySelectorAll('.list2 li span');
            const enteredValue = document.getElementById("myInput").value;
            console.log(list1);
            const data = {
                mode: enteredValue,
                src_list: [],
                dst_list: []
            };

            list1.forEach(function(item) {
                data.src_list.push(item.textContent);
            });

            list2.forEach(function(item) {
                data.dst_list.push(item.textContent);
            });
            console.log(data);
            sendUpdateRequest(data);

        }

        async function sendUpdateRequest(data) {
            const result = await fetch('http://127.0.0.1:5000/settings', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            if (result.status === 200) {
                window.location.replace('/settings')
            }
            else {console.log('Error with JSON')}

        };

    </script>

</body>

</html>
